@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(0, 42, 52);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}